
<div id="detail">
  <div class="contacts"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-pencil" aria-hidden="true"></i>
	<p>First Name: {{contact.FirstName}}</p>
	<p>Last Name: {{contact.LastName}}</p>
	<p>Street Address: {{contact.StreetAddress}}</p>
	<p>City: {{contact.City}}</p>
	<p>State: {{contact.State}}</p>
	<p>Zip Code: {{contact.Zipcode}}</p>
	<p>Country: {{contact.Country}}</p>
	<p>Phone Number: {{contact.Phone}}</p>
	<button class="btn btn-default" ng-click="deleteContact(contact.id)">Delete</button>
</div>




</div>