<div ng-controller="NewCtrl">
  <div ng->
    <form>
      <label>First Name:
        <input type="text" ng-model="postNewContact()"></label><br />
      <label>
      Last Name:
      <input type="text" ng-model="postNewContact()"></label><br />
    </form>
    <form>
      <label>Street Address:
        <input type="text" ng-model="postNewContact()"></label><br />
      <label>
      City:
      <input type="text" ng-model="postNewContact()"></label><br />
    </form>
    <form>
      <label>State:
        <input type="text" ng-model="postNewContact()"/></label><br />
      <label>
      Zip Code:
      <input type="text" ng-model="postNewContact()" /></label><br />
    </form>
    <form>
      <label>Country:
        <input type="text" ng-model="postNewContact()"></label><br />
      <label>
      Phone Number:
      <input type="text" ng-model="postNewContact()"></label><br />
    </form>
    <button btn btn-default ng-click="createNewContact(contact)">Submit</button>
  </div>
</div>


